* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 91px;
  padding: 30px 25px;
}

nav > h3 {
  color: #00d8ff;
  margin-right: auto;
}

nav > h4 {
  color: #deebf8;
}

.nav-logo {
  width: 60px;
  margin-right: 7px;
}
